.rbc-time-view {
    overflow-y: scroll;
}

.rbc-time-view::-webkit-scrollbar {
width: 10px;
}

.rbc-time-view::-webkit-scrollbar-track {
background: #f1f1f1;
}

.rbc-time-view::-webkit-scrollbar-thumb {
background-color: #888;
border-radius: 5px;
border: 1px solid #f1f1f1;
}